

/*Section break*/
.kitkat {
    padding: 5px;
    background-color: #A0AEB3;
}
/*Pictures with slogan*/
.Info {
    align-items: center;
    background-color: #192A31;
    font-family: 'Roboto';
    font-weight: 700;
}

.InfoLeft {
    text-align: center;
    height: auto;
    color: white;
    font-size: 5vw;
    line-height: 36px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

#L2 {
    padding-bottom: 3%;
    padding-top: 3%;
}

.CarRight {
    width: 50%;
    float: right;
    padding-top: 2%;
}

@media (max-width: 768px) {
    img {
        max-width: 50%;
    }
}
/*Section break*/
#inSection {
    padding: 2.4%;
}
/*Search bar, Filter and  Sort*/
.SFS {
    background-color: #192A31;
}

.filter {
    font-family: 'Roboto';
    width: 100px;
    background-color: #293f47;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

    .filter:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

.sort {
    font-family: 'Roboto';
    float:right;
    width: 100px;
    background-color: #293f47;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

    .sort:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}

    .search-container form {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .search-container input[type="text"] {
        width: 500px;
        padding: 10px;
        border: none;
        font-size: 16px;
    }

    .search-container button[type="submit"] {
        background-color: #ddd;
        border: none;
        color: #666;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }

        .search-container button[type="submit"]:hover {
            background-color: #aaa;
            color: #fff;
        }

.butt1{
    padding-right: 15%;
}

.butt2 {
    padding-left: 15%;
}

/*Pictures*/
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-box {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 25%;
}

#GridPic {
    display: block;
    width: 100%;
    height: auto;
}

.color-box {
    display: block;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: #192A31;
    height: 15%;
}

    .color-box:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .CarName{
        padding-top:3%;
    }
